:root {
--clr-background: rgb(230, 227, 227);
--clr-primary: rgb(157, 187, 180);
--clr-primary-dark: rgb(78, 104, 97);
--clr-primary-middle: rgb(109, 145, 135);
--clr-primary-light: rgb(207, 219, 216);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    background-color: var(--clr-background); 
}

h2 {
    font-weight: 600;
    letter-spacing: .4rem;
    font-size: 3rem;
    font-style: normal;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card {
    background-color: var(--clr-primary);
    width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    border: 3px solid var(--clr-primary-dark);
}

.form {
    width: 100%;
}

.list_form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "input btn";
    gap: .3rem   
}

ul {
    font-family: "font awesome 5 free", "Architects Daughter", serif;      
    color: white;
    color: var(--clr-primary-dark);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    list-style-type: "\f0c8  ";
    list-style-position: inside;

    gap: .5rem;
}

li {
    border-radius: .5rem;
    background-color: var(--clr-background);
    padding-left: .5rem;
    cursor: pointer;
}

.checked {
    color: var(--clr-primary-light);
    list-style-type: "\f14a  ";
    background-color: white;
}

.list_input {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    color: var(--clr-primary-dark);
    padding: .3rem .5rem;
    background-color: var(--clr-background);
    border: 2px solid white;
    border-radius: .5rem;
    grid-area: input;
}

.list_btn {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--clr-primary-dark);
    padding: .3rem;
    border: 2px solid white;
    background-color: var(--clr-background);
    border-radius: .5rem;
    padding: .3rem 1.5rem;
    cursor: pointer;
    grid-area: btn;

    transition: .15s;
}

.list_btn:hover {
    color: white;
    background-color: var(--clr-primary-dark);
}

.list_btn:active {
    color: white;
    background-color: var(--clr-primary-middle);
}


.invalid_input {
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: rgb(145, 28, 28);
    margin-left: .5rem;
    display: none;
}


.error {
    .invalid_input {
        display: block;
    }
}