:root {
--clr-background: rgb(230, 227, 227);
--clr-primary-dark: rgb(97, 128, 119);
/* --clr-primary-dark: rgb(124, 123, 123); */
--clr-primary: rgb(116, 146, 138);
/* --clr-primary: rgb(180, 178, 178); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    background-color: var(--clr-background);
    
}

h2 {
    /* font-family: "Gruppo", sans-serif; */
    font-weight: 600;
    letter-spacing: .4rem;
    font-size: 3rem;
    font-style: normal;
}

ul li {
    font-family: "Architects Daughter", serif;      
    color: white;
    border: 2px solid black;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card {
    background-color: var(--clr-primary);
    width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    border: 3px solid var(--clr-primary-dark);
    /* border-radius: .5rem; */
}

.form {
    width: 100%;
}

.list_form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "input btn";
    gap: .3rem
    
}

.list_input {
    font-size: 1rem;
    color: var(--clr-primary-dark);
    padding: .3rem .5rem;
    background-color: var(--clr-background);
    border: 2px solid white;
    /* border: 2px solid var(--clr-primary-dark); */
    border-radius: .5rem;
    grid-area: input;
}

/* .list_input:active {
    border-style: none;
} */

.list_btn {
    font-size: 1rem;
    font-family: "Merriweather", serif;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--clr-primary);
    /* color: var(--clr-background); */
    padding: .3rem;
    border: 2px solid white;
    /* border: 2px solid transparent; */
    /* background-color: var(--clr-primary-dark); */
    background-color: var(--clr-background);
    border-radius: .5rem;
    padding: .3rem 1.5rem;
    cursor: pointer;
    grid-area: btn;

    transition: .15s;

}

.list_btn:hover {
    color: var(--clr-primary-dark);
    border: 2px solid var(--clr-primary-dark);
    background-color: var(--clr-background);
}

.list_btn:active {
    color: white;
    border: 2px solid var(--clr-primary-dark);
    background-color: var(--clr-primary-dark);
}

.invalid_input {
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: rgb(145, 28, 28);
    margin-left: .5rem;
    display: none;
}


.error {
    .invalid_input {
        display: block;
    }
}